@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&display=swap');

:root {
    --font-shadow-1: none;
    --font-shadow-2: -1px 1px #000000, -1px 1px 1px rgba(0, 0, 0, 0.5);
    --font-shadow-3: -1px 1px #000000, -2px 2px #000000, 0 0 3px #000000;
    --font-shadow-4: -1px 1px #000000, -2px 2px #000000, -3px 3px #000000, 0 0 6px #000000;
    --font-shadow: var(--font-shadow-1);
    --font-size: 20px;
    --font: 'Raleway', sans-serif;
    --font-case: none;
    --chat-width: 100%;
    --chat-height: 100vh;
    --font-color: #ffffff;
    --transparent-color: rgba(0, 0, 0, 0.6);
}

body {
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

#container {
    width: calc(var(--chat-width) - 20px);
    height: calc(var(--chat-height) - 40px);
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: scroll;
}

#chat-container {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    text-transform: var(--font-case);
    text-shadow: var(--font-shadow);
    color: var(--font-color);
    gap: .5em;
}

.pinned-message {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 50;
    width: calc(100% - 40px);
    background-color: #1a1a1a;
    margin: 0 -10px;
    padding: 5px 10px 5px 10px;
    border-radius: .5em;
}

.pinIcon{
    min-height: 1em;
    max-height: 1em;
    max-width: 1em;
    margin-bottom: -4px;
    margin-right: .5em;
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.9)) invert(1);
}

.message-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.message-item img {
    max-height: 32px;
    min-width: 1em;
    margin: 0 .1em -.40em .1em;
}

.username, .message {
    font-weight: bold; /* Make user names and message text bold */
    color: inherit; /* Inherit the text color from the parent element */
}

.badges {
    display: flex;
    align-items: center;
  }

.message-item .timestamp {
    display: block;
    font-family: 'Courier Prime', monospace;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -1px;
    margin-right: 2em; /* Increase the right margin */
    margin-top: .5em; /* Add extra spacing between timestamp and gifter badges */
}

.message-item .badges img {
    max-height: 32px;
    min-width: 1em;
    margin: 0 .1em -.40em .1em;
}

.message-item .badges img:last-of-type {
    margin-right: 4px;
    max-height: 0.8em;
}

.message-item .username {
    font-weight: 900;
    margin-right: 1em;
    margin-bottom: .5em; /* Add extra spacing between username and message */
}

.message-item > .username::after {
    content: ":";
    margin-left: 0.5px;
  }

.username::after {
    margin-left: 0.5px;
}

.message-item .message { 
    font-size: 0.9em; /* Decrease the font size */
    word-break: break-word;
    flex-grow: 1; /* Add this line to allow message to take up remaining space */
  }

.atStreamer {
    background-color: rgba(169, 71, 211, 0.4);
    margin: 0 -10px;
    padding: 5px 10px 2px 10px;
    border-radius: .5em;
}

.atChat {
    display: none;
}

.moderator {
    background-color: rgba(5, 209, 255, 0.4);
    margin: 0 -10px;
    padding: 5px 10px 2px 10px;
    border-radius: .5em;
}

.bot {
    display: none;
}

.commands {
    display: none;
}

.chat-message {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .chat-message > * {
    margin-right: 10px;
  }
  
  .timestamp {
    font-family: 'Courier Prime', monospace;
    font-size: 0.9em;
    color: inherit;
    margin-right: 2em;
  }
  
  .username {
    font-weight: bold;
    color: inherit;
    margin-right: 1em;
  }
  
  .message {
    grid-column: 1 / -1;
  }

  .chat-message-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
  }

  .chat-message-item {
    display: contents;
  }